<div class="sidebar bg-dark p-3">
    <ul class="sub_menu pages list-unstyled fs-3">
        <li><a href="/Account/DisplayUsers" class="d-flex align-items-center text-white mb-2"><i class="fas fa-users me-2"></i>Display Users</a></li>
        <li><a href="/ProductCategories/DisplayProductCategories" class="d-flex align-items-center text-white mb-2"><i class="fas fa-list me-2"></i>Product Categories</a></li>
        <li><a href="/ShopCategories/DisplayShopCategories" class="d-flex align-items-center text-white mb-2"><i class="fas fa-store me-2"></i>Shop Categories</a></li>
        <li><a href="/Shop/DisplayShops" class="d-flex align-items-center text-white mb-2"><i class="fas fa-shopping-bag me-2"></i>Shops</a></li>
        <li><a href="/Product/AddProduct" class="d-flex align-items-center text-white mb-2"><i class="fas fa-plus-circle me-2"></i>Add Product</a></li>
        <li><a href="/Product/DisplayProducts" class="d-flex align-items-center text-white mb-2"><i class="fas fa-boxes me-2"></i>Products</a></li>
        <li><a href="/Role/AddRole" class="d-flex align-items-center text-white mb-2"><i class="fas fa-user-tag me-2"></i>Add Role</a></li>
        <li><a href="/Role/DisplayRoles" class="d-flex align-items-center text-white mb-2"><i class="fas fa-tags me-2"></i>Display Roles</a></li>
        <li><a href="/Order/AllOrdersForAdmin" class="d-flex align-items-center text-white mb-2"><i class="fas fa-file-invoice me-2"></i>Orders</a></li>
    </ul>
</div>
<style>
    .sidebar a {
        font-size: 22px;
        padding: 17px;
        display: block;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .sidebar a:hover {
            background-color: #495057;
            transform: translateX(5px);
            text-decoration: none;
        }
sidebare ul li{
    margin-top:30px;
}
</style>